
@{
    ViewData["Title"] = "AddEntity";
}

<h1>Result: Add new Entity</h1>

<p>
    Insert single entity into @ViewBag.TableName table is
    @(ViewBag.result == 204? "Successful!" : "Failed. The data already exist!")
</p>

