
@{
    ViewData["Title"] = "CreateTable";
}

<h1>Result: Create a New Table</h1>

<p>
    The @ViewBag.TableName table is created
    @(ViewBag.result == true ? "Successful!" : "Failed, same name table is exist")
</p>

