
@{
    ViewData["Title"] = "UploadFileFromForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    h1 {
        font-family: arial black;
        color: #8f5f5f;
    }

    h5 {
        font-family: arial black;
    }


    input[type=file], select {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: arial;
    }

    input[type=submit] {
        width: 50%;
        background-color: #6d7a76;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: arial black;
    }

        input[type=submit]:hover {
            background-color: #8f5f5f;
        }
</style>

<body>
    <center>
        <h1> Upload Poster For User </h1>
        <form method="post" asp-controller="Blob" asp-action="UploadFileFromForm"
              enctype="multipart/form-data">
            <h5>
                Dear Staff / Admin, you may upload more than one poster at a time <br />
                Please specify the poster image name properly before uploading
            </h5>
            <input type="file" name="files" multiple />
            <br />
            <br />
            <input type="submit" value="Upload File Now" />
        </form>
    </center>

    @if (ViewBag.msg != null)
    {
        <script> alert("@ViewBag.msg"); </script>
    }

</body>

